
body	{
		/*background: url("bg5.jpg") repeat fixed;*/
}
div#frame{ 	
			margin:0px auto;
			width: auto;
			height: auto;
}
div#contain	{ 	
			float: center;
			width: auto;
			height: auto;
			border-radius: 10px;
			border:0px solid;
			
}
div#head 	{

			
			font-style:arial;
			font-size:30px;
			color:white;
			width:auto;
			padding-top:15px;
			padding-bottom:15px;
			border-radius:10px;
			border:0px solid;
			height: 150px;
			margin-top:15px;
			margin-bottom:20px;
			background: -moz-linear-gradient(top,#A53800,#E1AA49);
			background: -webkit-gradient:(linear,left top,left bottom, from(#A53800),to(#E1AA49));
			box-shadow: 2px 2px 5px #2e2e2e;
}
div#head h1{

			font:italic bold 54px calibri;
			color:#0C5400;
			
}
div#menu		{
			float: left;
			width: 215px;
			background: -moz-linear-gradient(top,#A53800,#E1AA49);
			background: -webkit-gradient:(linear,left top,left bottom, from(#A53800),to(#E1AA49));
			height: auto;
			border-radius:10px;
			border:0px solid;
			margin-right:5px;
			margin-bottom: 20px;
			box-shadow: 2px 2px 5px #2e2e2e;
}
div#menu ul.menu	
			{
			list-style:none;
			margin:30px 0px 10px 0px;
			padding:0;
}
div#menu ul.menu li{
			margin-bottom: 2px;
}
div#menu ul.menu li a {
			font:italic bold 15px calibri;
			color:#0C5400;
			text-decoration:none;
			padding:4px 10px 4px 10px;
			background-color:#C85A17;
			border:2px solid red;
			border-left:4px solid #ccc;
			height: 16px;
			display: block;
			
			
}

div#menu ul.menu li a:hover{
			border:2px solid #ccc;
			border-left:4px solid red;
			background-color:white;
			
}
div#menu ul.menu li a#pointer{
			border-left: 4px solid #0C5400;
			
}
div#menu ul.menu li a#pointer:hover{

			border:2px solid #ccc;
			border-left:4px solid red;
			background-color:white;
			
}
div#top	{
			width:auto;
			
			float: left;
			background: -moz-linear-gradient(top,#A53800,#E1AA49);
			background: -webkit-gradient:(linear,left top,left bottom, from(#A53800),to(#E1AA49));
			min-height: 385px;
			border-radius:10px;
			border:0px solid;
			margin-left: 20px;
			margin-bottom: 20px;
			padding: 5px ;
			padding-top:10px;
			text-align: center;
			box-shadow: 2px 2px 5px #2e2e2e;
			
}
div#top h2 {
			font:italic bold 30px calibri;
			color:#0C5400;
			
}
div#top p {
			font:italic bold 20px calibri;
			color:#0C5400;
}
div#top a.img img#img{
border-radius: 10px;
border: 5px solid #0C5400;
box-shadow: 2px 2px 5px #2e2e2e;

}
div#imp{		float: left;
			width: auto;
			background: -moz-linear-gradient(top,#E1AA49,#A53800);
			background: -webkit-gradient:(linear,left top,left bottom, from(#E1AA49),to(#A53800));
			height: 20px;
			border-radius:10px;
			border:0px solid;
			text-align: center;
			font:italic bold 10px calibri;
			color:#0C5400;
			padding-top:5px;
			box-shadow: 2px 2px 5px #2e2e2e;
			
}
